/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-image: url('index_image.jpg');
  background-size: cover; 
  min-height: 300px;
}
header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 10px;
}
nav {
  float: right;
  margin-top: 10px;
  font-size: 20px;
}
.center {
  text-align: center;
}
/*ここからヘッダー調整*/
.menu-logo {
  color: white;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-left: 20px;
  cursor: pointer;
  align-self: center;
  float: left;
}
.menu-logo2 {
    color: white;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-left: 20px;
  cursor: pointer;
  align-self: center;
}
.home {
  color: white;
  opacity: 0.8;
  cursor: pointer;
  display: inline;
  padding-right: 50px;
}
.home:hover{
  opacity: 1;
}
.bar-btn {
  text-decoration: none;
  color: white;
  display: inline;
  cursor: pointer;
  padding-right: 50px;
}
.twitter {
  display: inline;
  opacity: 0.8;
}
.twitter-icon{
  padding-right: 50px;
}
.twitter:hover {
  opacity: 1;
}
.toggle {
  display: none;
  cursor: pointer;
}
#tweet-icon-link  {
  color: #55acee;
}
/*モバイル表示調整*/
@media screen and (max-width: 830px) {
  .toggle {
    width: 20%;
    color: #fff;
    float: right;
    margin: 20px;
    display: block;
    text-align: right;
  }
  nav {
    clear: both;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
  }
  .home, .bar-btn, .twitter {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    padding-top: 5px;
    text-align: right;
  }
}

#index-container {
  display: grid;
  width: 88%;
  margin: auto;
  margin-top: 80px;
  grid-templete-columns: 1fr 1fr 1fr 1fr;
  grid-templete-rows: 200px 100px auto;
  grid-template-areas:
  "... intro intro ..."
  "... search write ..."
  "... ... ... ..."
}
/*モバイル表示調整*/
@media screen and (max-width: 550px) {
  #index-container {
    grid-auto-columns: auto;
  }
}
#introduction {
  color: white;
  margin: 50px 0 80px 0;
  grid-area: intro;
}
.btn-left {
  border-radius: 10px;
  grid-area: search;
}
.btn-right {
  border-radius: 10px;
  grid-area: write;
}
.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.introduction-phrase {
  font-size: 18px;
  font-weight: 500;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  margin-bottom: 15px;
  line-height: 1.4;
}
.button {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  padding: 10px 15px;
  font-size: 2.8vw;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  word-spacing: 8px;
  
}
.btn {
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}
#search-form, #area-index{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  display: none;
}
.modal {
  width: 500px;
  height: 250px;
  margin: 50px auto;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}
.form-content {
  height: 100px;
  padding-top: 20px;
}
.form-content span{
  font-size: 25px;
}
.form-content p {
  font-size: 18px;
  padding-top: 20px;
}
.form {
  box-sizing: border-box;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 50px;
}
.btn-search {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(176,196,222, 0.4);
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.btn-search:hover {
  opacity: 1;
}
#area-index {
  display: none;
}
.area-modal{
  width: 70%;
  height: 80%;
  margin: 50px auto;
  position: relative;
  text-align: left;
  background-color: white;
  border-radius: 20px;
}
.area-content {
  height: 55%;
  width: 90%;
  margin: 10px auto;
  padding-top: 20px;
}
.area-content span, .address-search span{
  font-size: 2.5vw;
}
.area-wrap {
  display: block;
  height: 55%;
  margin: 10px 5px;
}
.area {
  font-size: 1.5vw;
  margin-bottom: 2px;
  display: inline-block;
  text-decoration: none;
  background-color: #4682B4;
  color: white;
  border-radius: 5px;
  padding: 3px 5px;
  border: 1px solid #4682B4;
}
.address-search {
  width: 90%;
  margin: 10px auto;
}
.search-form {
  box-sizing: border-box;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
}
/*背景*/
.background{
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8)
}
.search-result{
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}
.result-content{
  font-size: 20px;
}
.result {
  display: inline-block;
  margin-bottom: 20px;
}
.image {
  width: 310px;
  height: 200px;
  background-size: cover;
}
/*ユーザーページ*/
.mypage-background{
  width: 70%;
  height: 80%;
  margin: 30px auto;
  padding: 60px 20px 20px 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);
  position: relative;
}
.pagenation-wrap {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  width: 100%;
  overflow: hidden;
  height: 50px;
}
.pagination {
  font-size: 20px;
  height: 50px;
  margin-right: 20px;
  /*margin-top: 20px;*/
}
.pagination span{
    padding-right: 10px;
}
.page-wrap {
  display: inline-block;
  float: right;
}
.myreview-count {
  display: inline-block;
  float: left;
  padding-top: 15px;
  padding-left: 30px;
}
.current_page {
  color: black;
}
.first_page, .last_page, .next_page, .prev_page, .page_number{
  text-decoration: none;
  color: #bebebe;
}
.user-info {
  color: white;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  margin-top: 80px;
}
.user-icon{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  object-fit: cover;
}
.user-edit {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.user-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: inline-block;
}
.fa-user-cog {
  opacity: 0.8;
}
.fa-user-cog:hover {
  opacity: 1;
}
.myreview-wrap {
  display: block;
  margin-left: 15px;
}
.myreview {
  border-left: 5px solid #00008b;
  padding-left: 20px;
  margin-bottom: 15px;
  display: grid;
  grid-template-areas: 
  "link myimage"
  "place myimage"
}
.myreview-edit {
  margin-top: 20px;
}
.myreview-edit span{
  padding-right: 10px;
  opacity: 0.8;
}
.myreview-edit span:hover {
  opacity: 1;
}
.myreview-edit-link{
  text-decoration: none;
}
.place-link {
  grid-area: link;
}
.myreview-place {
  width: 650px;
  display: grid;
  grid-area: place;
  grid-template-columns: 80px 1fr;
}
.myreview-place span {
  text-align: left;
}
.myimage {
  background-size: cover;
  width: 200px;
  height: 150px;
  border-radius: 15px;
  display: block;
  grid-area: myimage; 
}
.noimage {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #aaa;
  text-align: center;
  grid-area: myimage;
}
.noimage-message{
  margin-top: 60px;
}

/*モバイル表示調整*/
@media screen and (max-width: 550px) {
  .myreview {
    grid-template-areas: 
  "link"
  "place"
  "myimage"
  }
  .background {
    min-width: 500px;
    margin: 20px auto;
  }
}
/*devise User sign page*/
.user-background {
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.6)
}
.user-content{
  width: 60%;
  margin: 10px auto;
}
.form_area {
  width: 100%;
  height: 30px;
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid #aaa;
  font-size: 18px;
  margin-bottom: 15px;
}
::placeholder {
  color: rgba(0,0,0,0.4);
}
.label {
  font-size: 20px;
  opacity: 0.8;
  font-weight: bold;
}
.user-btn {
  border-style: none;
  padding: 5px 10px;
  margin: 10px auto;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #ff1493;
  opacity: 0.8;
  color: #fff;
}
.user-btn:hover{
  opacity: 1;
}