<div class="background">
  
  <span class="mb10">検索結果は<%= @places.count %>件です</span><br>
  <div class="keyword-result-content">
    <% @places.each do |place| %>
    <span><%= link_to "#{place[:name]}", new_place_path(place), class:"keyword-result",data: {"turbolinks" => false} %></span>
    <span>（<%= place[:address] %>）</span><br>
    <% end %>
  </div>
</div>